html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

main {
  flex-grow: 1;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  width: 217px;
  padding: 15px;
  text-align: center;
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  line-height: 25px;
  background: #0e8784;
  border-radius: 6px;
  color: #fefcf7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
}
