.hero .container {
    margin-bottom: 136px;
  padding: 117px 85px;
  background-image: url(/img/coffee_hero.png);
  background-size: 1280px 600px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  @media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  background-image: url(/img/coffee_hero@2x.png);
  /* Retina-specific stuff here */
} 
}

.hero__heading {
  width: 493px;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 72px;
  line-height: 72px;
}

.hero__text{
    width: 445px;
    margin-top: 0;
    margin-bottom: 56px;
}