.plan .container {
  margin-bottom: 168px;
  background-image: url(/img/create_hero.png);
  background-repeat: no-repeat;
  background-position: center;
  @media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  background-image: url(/img/create_hero@2x.png);
  /* Retina-specific stuff here */
} 
}

.plan__info {
  padding: 134px 85px;
}

.plan__heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 72px;
  line-height: 72px;
}

.plan__text {
  width: 445px;
  margin: 0;
  opacity: 0.8;
}
